*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #1E0040;
    color: #fff;
    padding: 3rem 4rem;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}

