@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    bor
}

body{
    background-color: #1E0040;
    color: #fff;
    padding: 3rem 4rem;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.header{
    display: flex;
    align-items: center;
}
.logo img{
    width: 3rem;
    padding-left: 1rem;
}
.logo-txt{
    font-size: 1.5rem;
    font-weight: 600;
}
.main{
    padding-left: 1.5rem;
}
.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
}

.description{
    font-size: 1rem;
    font-weight: 100;
    width: 40rem;
    padding-bottom: 4rem;
}

.buttons a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    background-color: #C58916;
    padding: 0.75rem 2.5rem;
    border-radius: 10px;
}

.circle1{
    border-radius: 89.5625rem;
/* background: #406CD7; */
background: rgba(225, 77, 15, 0.42);
filter: blur(297px);
width: 89.5625rem;
height: 83.25rem;
position: absolute;
bottom: -60rem;
left: 30rem;
z-index: -1;
}

.circle2{
    border-radius: 89.5625rem;
background: #406CD7;
/* background: rgba(225, 77, 15, 0.42); */
filter: blur(297px);
width: 89.5625rem;
height: 83.25rem;
position: absolute;
bottom: 40rem;
right: 40rem;
z-index: -1;
}

.handimg img{
    width: 30rem;
    position: absolute;
bottom: -1rem;
right: 0;
z-index: -1;
}